# Exclude any generated HTML, or BASH files
**/index.html
**/index.sh
backgrounds/*.gif
backgrounds/*.png
backgrounds/*.txt
basics/*.gif
basics/*.png
basics/*.txt
blur/*.gif
blur/*.jpg
blur/*.png
canvas/*.gif
canvas/*.png
canvas/*.jpg
morphology/*.gif
morphology/*.txt
morphology/*.png

