# Exclude any generated HTML, or BASH files
**/index.html
**/index.sh
backgrounds/*.gif
backgrounds/*.png
backgrounds/*.txt
basics/*.gif
basics/*.png
basics/*.txt
blur/*.gif
blur/*.jpg
blur/*.png
canvas/*.gif
canvas/*.png
canvas/*.jpg
color_basics/*.gif
color_basics/*.png
color_basics/*.jpg
color_mods/*.gif
color_mods/*.jpg
color_mods/*.txt
color_mods/*.png
compare/*.gif
compare/*.jpg
compare/*.png
compare/*.txt
compose/*.gif
compose/*.jpg
compose/*.png
compose/*.txt
compose/tables/*.jpg
compose/tables/*.gif
morphology/*.gif
morphology/*.txt
morphology/*.png

